body {
    margin: 0px;
    padding: 0px;
    font-family: 'Paytone One', sans-serif;
    /*overflow: hidden;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(rgb(30, 6, 241), rgb(231, 136, 28), #ffff)
}

.medio {
    margin: 1rem 0rem;
    min-width: 90vw;
    min-height: 100vh;
    background: linear-gradient(145deg, #ffffff, #e3e3e3);
    box-shadow:  8px 8px 14px rgb(105, 126, 184);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(105, 126, 184);
    font-weight: 500;
}

.arriba {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0.5rem;
    line-height: 1.5;
    min-width: 90vw;
}

label {
    font-weight: 600;
}

input[type=text] {
 width: 40%;
  padding: 8px 16px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


h1 {
    font-size: 30px;
    color:rgb(216, 240, 239);
    text-align: center;
    margin: 2px;
}
h2 {
    font-size: 20px;
    color:white;
    font-weight: 100px;
    margin: 2px;
}

input[type=submit] {
    width: 25%;
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color:  rgb(105, 126, 184);
    color: black;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(40, 33, 138);
    color: white;
  }


/* Espacio para las casillas */
.tablero {
    display: block; /* la visualización de la agrupación sea fija  */ 
    flex-wrap: wrap; /*agrupación de los elementos */
    align-items: center;
    justify-content: center;
    width: 93vw;
    height: 104vh;
    
    }

/* Estilo de las celdas */
.miestilo {
    border-radius: 2rem;
    width: 9vw;
    height: 9vh;
}
#dado{
    display:none;
}
#alerta {
    display: none;
    align-items: center;
    justify-content: center;
}
/* boton cuando está habilitado */
#jugar:enabled{
    /* display: flex; */
    padding: 0.5rem;
    font-weight: 100;
    font-size: 1vw;
    border-radius: 0.5rem;
    width: 15%;
    background-color:  rgb(204, 149, 31);
    color: black;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}
/* cuando está habilitado*/
#jugar:hover:enabled {
    background-color: rgb(248, 144, 7);
    color: white;
    font-weight: 200;
}
/* cuando el botoón está deshabilitado*/
#jugar:disabled{
     border: 1px solid #999999;
     background-color: #cccccc;
     color: #666666;
}

/* contador, temporizador y resultado */
.abajo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20vw;
}
